<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="../static/css/main_styles.css">
	<title>Главная страница</title>
</head>
<body>
	<div class="main-container">
		<div class="main-item" id="left"><span><a href="{{root_route}}editor">Редактирование базы знаний</a></span></div>
		<div class="main-item" id="right"><span><a href="{{root_route}}classification">Классификация образца пшеницы</a></span></div>
	</div>
</body>
<script src="../static/scripts/main_page.js"></script>
</html>